main {
    min-height: 78vh;
}


.restaurant-container {
    margin-top:40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 30%%; 
}

.restaurant-card{
    width:20%;
    margin-left:5em;
    position: relative;
}

.restaurant-card img {
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    height: 450px;
}

.pas-photo p{
    position: absolute;
    margin-top: 100px;
    margin-left: 35px;
}

.restaurant-info{
    position: absolute;
    margin-top: -126px;
    margin-left: 35px;
}

.restaurant-info p:first-child {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.restaurant-info p:last-child {
    font-size: 20px;
    margin: 0;
}

.restaurant-info a{
    text-decoration: none;
    color: black;
}

.coeur {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: absolute;
}

/* généré avec CHATGPT*/
.svg-heart-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    margin-right: 30px;
}

.svg-heart-btn:hover {
    transform: scale(1.2);
}

form{
    text-align: end;
    margin-top: -70px;
}

.texte {
    margin-top: 50px;
    margin-left: 48px;
}

h3 {
    margin-left: 2%;
}
h3 a {
    color: #fcc306;
}
#enregistrer {
    color: #477eae;;
}
 