
.restaurant-card {
    position: relative;
    margin: 2%;
    width: 70%;
    overflow: hidden;
}

.restaurant-card img {
    width: 50%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.restaurant-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
h3 {
    margin-left: 2%;
}
#enregistrer {
    color: #477eae;;
}
#restaurants-favoris {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}